:root {
  --header-back: #1a1d24;
}

body {
  background: linear-gradient(to bottom, var(--header-back) 5%, darkgray 6%);
}
header{
  background: var(--header-back);
}
#instrumentsBar{
  background: var(--header-back);
}
