:root {
  --back-color: whitesmoke;
}
body {
  background: linear-gradient(to bottom, darkcyan 5%, var(--back-color) 6%);
}
header{
  background: var(--header-back);
}
#instrumentsBar{
  background: darkcyan;
}