body{
	margin: 0;
  	height:100vh;
  	text-align:center;
  	background:#141414;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1B1A18;


}
#workSpaceBar {
    background:#141414;
    width: 100%;
    height: 100%;
    border-left: 6px solid  #181716;
    border-top: 6px solid  #181716;

    display:flex;
    justify-content: center;
    align-items: center;

}
#instrumentsBar {
    position: relative;
    z-index: 1;

    justify-content: space-between;
    align-items: bottom;
    background:#1B1A18;
    width: 20%;
    height: 100%;
    padding: 1px;

}
#container1 {
    display: flex;
    width: 100%;
    height: 100%;
}

#Logo {
    font-family: 'Impact, fantasy', monospace;
    color: LightGrey;
    width: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.fileBtn {
    font-family: 'Impact, fantasy', monospace;
    color: LightGrey;
    border: 2px solid #2B2A29;
    border-radius: 50px;
    height: 4%;
    width: 4%;
    margin-right: -39%;

    cursor: pointer;
    background: #3B3A39;

    font-size:20px;
}

.fileBtn:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.switch:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.resetBtn {
    font-family: 'Impact, fantasy', monospace;
    color: LightGrey;
    border: 2px solid #2B2A29;
    border-radius: 50px;
    height: 4%;
    width: 4%;
    margin-right: 2%;

    cursor: pointer;
    background: #3B3A39;

    font-size:20px;
}
.resetBtn:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.switch:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}



.toolPanel {
    color:LightGrey;
    font-family: 'Impact, fantasy', monospace;
    background:#3B3A39;
    display: flex-start;

    height: 13%;
    border: 3.5px solid #2B2A29;
    margin: 10px;
    margin-top:20px;
    border-radius: 10px;

}
.slider {
    width: 65%;
    height: 10%;
    border-radius: 5px;
}

.slider::-webkit-slider-thumb {
    appearance: none; /* Убираем стандартный стиль браузера */
    background-color: #0074D9; /* Цвет бегунка */
    border-radius: 50%;
    cursor: pointer;

}
input[type="checkbox"] {
  transform: scale(2);
}
input[type="range"] {
  transform: scale(1.3);
}









