<!-- Тут можно написать изначальный шаблон для всех страниц, чтобы в каждом заново не надо было, а то что отличается через блоки менять  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
    <link rel = "stylesheet" href="{{ url_for('static', filename = 'js/script.js') }}">
    <link rel="stylesheet" id="switcher-id">

    {% block scripts %} {% endblock %}

    <title>{% block title %} {% endblock %}</title>

</head>
<body>
    <header>
        {% block header %} {% endblock %}

    </header>
    <div id="container1">
        <div id="instrumentsBar">{% block instrumentBar %} {% endblock %}</div>
        <div id="workSpaceBar">{% block workSpaceBar %} {% endblock %}</div>
    </div>
    {% block body %} {% endblock %}




</body>
</html>