{% extends 'base.html' %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

{% block title %}
Index title
{% endblock %}

{% block header %}
<div id="Logo">
    <h1>PhotoШоп</h1>
</div>


<form action="/process_img_sender" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file-input" style="display: none;">

</form>
<button class="fileBtn" id="file-btn">
    Файл
</button>

<button class="resetBtn" id="reset-btn">
    Сброс
</button>

{% endblock %}



{% block workSpaceBar %}
<img id="selected-image">

{% endblock %}


{% block instrumentBar %}






<div class="toolPanel">
    <h1>Яркость</h1>
    <form id="brightnessForm" action="/process_brightness_slider" method="post">
        <input type="range" min="0" max="100" value="0" class="slider" name = "brightness" id="brightnessSlider">
        <input style="display: none;" name="brightnessValue" id="brightnessValue" value="0">
    </form>
</div>

<div class="toolPanel">
    <h1>Контрастность </h1>
    <form id="contrastForm" action="/process_contrast_slider" method="post">
        <input type="range" min="0" max="100" value="0" class="slider" name="contrast" id="contrastSlider">
        <input style="display: none;" name="contrastValue" id="contrastValue" value="0">
    </form>
</div>

<div class="toolPanel">
    <h1>Резкость </h1>
    <form id="sharpnessForm" action="/process_sharpness_slider" method="post">
        <input type="range" min="0" max="100" value="0" name="sharpness" class="slider" id="sharpnessSlider">
        <input style="display: none;" name="sharpnessValue" id="sharpnessValue" value="0">
    </form>
</div>

<div class="toolPanel">
    <h1>Размытие </h1>
    <form id="blurForm" action="/process_blur_checkbox" method="post" value="1">
        <input type="checkbox" name="blured_checkbox" id="checkbox1" onclick="this.disabled = true;">
    </form>
</div>

<div class="toolPanel">
    <h1>Негатив </h1>
    <form id="negativeForm" action="/process_negative_checkbox" method="post" value="1">
        <input type="checkbox" name="negative_checkbox" id="checkbox2" onclick="this.disabled = true;">
    </form>
</div>









{% endblock %}

{% block body %}
{% endblock %}